@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

//Font
$primary-font: 'Ubuntu', sans-serif;
$primary-font-size: medium;

//Color
$primary-color: #8257E5;
$secondary-color: #08C05E;
$tertiary-color: #121214;

//Font size
$text-font-size: 4rem;